  h1 {
        font-family: forte;        
        color: red;
        text-align: center;
        
    }
  
  p {       
        font-family: comic sans ms;
        font-size: 22px;
        text-align: center;
        color: white;
    }
  img.logo {
        margin-left : 330px;
    }
  img.pico {
        margin-left : 425px;
    }
    
  footer {
        color : white;
        text-align : center;
        font-size : 18px;
    }     
  